@import "./../../assets/styles/common";

.Menu {
  position: relative;
  .menuList {
    position: absolute;
    width: 230px;
    top: 0;
    bottom: 0;
    left: 0;
    background: darken(@white, 5%);
    border-right: @border;
    .logo {
      height: 90px;
    }
    li {
      display: block;
      width: 100%;
      height: 30px;
      line-height: 30px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &:hover {
          background: lighten(@black, 90%)
        }
      ;
        text-decoration: none;
        padding-left: 20px
      }
    }
  }
  .mainBox {
    padding-left: 230px;
    background: linear-gradient(to bottom, lighten(@color-base1, 10%), lighten(@color-base2, 20%));
  }

}